.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}

.header{
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 10px;
    }
@media (max-width:1200px){
    .wrapper {
        display: grid;
        grid-template-areas:"nav gav"
                            "n gav";
        grid-template-columns: 10% 1fr;
        grid-column-gap: 20px;
    }
    .container{
        grid-area: gav;
    }
}
@media (max-width:992px){
    .wrapper {
        display:flex;
        flex-direction: column;
    }
}
@media (max-width:767px){
    .wrapper {
        display: grid;
        grid-template-areas:"nav gav"
                            "n gav";
        grid-template-columns: 10% 1fr;
        grid-column-gap: 20px;
    }
    .container{
        grid-area: gav;
    }
}
@media print {
    .wrapper {
        display:inline;
    }
    .navigation, .header {
        display: grid;
        
    }
}